language: python
python: 3.6
cache: pip

sudo: false

env:
  global:
    - DISABLE_DEV_SHM_USAGE=true
    - HEADLESS=true
    - NO_SANDBOX=true
    - PRINT_PAGE_SOURCE_ON_FAILURE=true
    - ARCHIVE_BASE_URL=https://archive-qa.cnx.org
    - LEGACY_BASE_URL=https://legacy-qa.cnx.org
    - NEB_ENV=qa
    - WEBVIEW_BASE_URL=https://qa.cnx.org
  matrix:
    - MARK=webview
    - MARK=legacy RUNSLOW=true
    - MARK=neb

addons:
  apt:
    packages:
      - chromium-chromedriver

before_script:
  - ln -s /usr/lib/chromium-browser/chromedriver ~/bin/chromedriver

script:
  - tox -- -m $MARK -vv
