[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "==3.6.2"
apipkg = "==1.5"
appdirs = "==1.4.3"
asn1crypto = "==1.3.0"
async-timeout = "==3.0.1"
atomicwrites = "==1.4.0"
attrs = "==19.3.0"
backoff = "==1.10.0"
cached-property = "==1.5.1"
certifi = "==2020.4.5.1"
cffi = "==1.13.2"
cfgv = "==2.0.1"
chardet = "==3.0.4"
chromedriver-binary = "==81.0.4044.69"
click = "==7.0"
cnx-common = "==1.3.5"
cnx-epub = "==0.22.0"
cnx-litezip = "==1.6.0"
cnx-rex-redirects = {git = "https://github.com/openstax/cnx-rex-redirects.git"}
cnx-transforms = "==1.2.0"
cnxml = "==3.0.1"
cryptography = "==2.9.2"
distlib = "==0.3.0"
docker = "==4.1.0"
execnet = "==1.7.1"
filelock = "==3.0.12"
identify = "==1.4.15"
idna = "==2.7"
importlib-metadata = "==0.23"
jwcrypto = "==0.6.0"
lxml = "==4.4.3"
more-itertools = "==8.2.0"
multidict = "==4.7.5"
nebuchadnezzar = "==9.8.0"
nodeenv = "==1.3.4"
pluggy = "==0.13.1"
pre-commit = "==2.3.0"
py = "==1.8.1"
pycparser = "==2.19"
pyparsing = "==2.4.7"
pytest-base-url = "==1.4.1"
pytest-forked = "==1.1.3"
pytest-html = "==2.0.1"
pytest-metadata = "==1.8.0"
pytest-selenium = "==1.17.0"
pytest-testrail = "==2.8.3"
pytest-variables = "==1.9.0"
pytest-xdist = "==1.32.0"
pytest = "==5.3.5"
python-dateutil = "==2.8.1"
python-dotenv = "==0.13.0"
python-magic = "==0.4.15"
python-memcached = "==1.59"
python-slugify = "==4.0.0"
requests-file = "==1.5.1"
requests = "==2.22.0"
selenium = "==3.141.0"
simplejson = "==3.17.0"
six = "==1.14.0"
text-unidecode = "==1.3"
tldextract = "==2.2.2"
toml = "==0.10.0"
uritemplate = "==3.0.1"
urllib3 = "==1.24.3"
virtualenv = "==20.0.20"
wcwidth = "==0.1.8"
webencodings = "==0.5.1"
yarl = "==1.4.2"
zipp = "==2.1.0"
"aspy.yaml" = "==1.3.0"
"github3.py" = "==1.3.0"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
Pillow = "==7.1.2"
PyPOM = "==2.2.0"
PyYAML = "==5.3.1"
"rhaptos.cnxmlutils" = "==1.7.3"
websocket_client = "==0.57.0"
"zope.component" = "==4.5"
"zope.deferredimport" = "==4.3.1"
"zope.deprecation" = "==4.4.0"
"zope.event" = "==4.4"
"zope.hookable" = "==4.2.0"
"zope.interface" = "==5.1.0"
"zope.proxy" = "==4.3.1"

[requires]
python_version = "3.8"
