apipkg==1.5
Appium-Python-Client==0.38
asn1crypto==0.24.0
aspy.yaml==1.2.0
atomicwrites==1.3.0
attrs==18.2.0
cached-property==1.5.1
certifi==2019.3.9
cffi==1.12.3
cfgv==1.6.0
chardet==3.0.4
Click==7.0
cnx-litezip==1.6.0
cnxml==3.0.1
cryptography==2.6.1
execnet==1.6.0
eyes-common==4.0.5
eyes-core==4.0.5
eyes-selenium==4.0.5
filelock==3.0.10
github3.py==1.3.0
identify==1.4.2
idna==2.7
importlib-metadata==0.9
jwcrypto==0.6.0
lxml==4.3.3
more-itertools==7.0.0
nebuchadnezzar==9.0.2
nodeenv==1.3.3
Pillow==6.0.0
pluggy==0.9.0
pre-commit==1.15.2
py==1.8.0
pycparser==2.19
PyPOM==2.2.0
pytest==4.4.1
pytest-base-url==1.4.1
pytest-forked==1.0.2
pytest-html==1.20.0
pytest-metadata==1.8.0
pytest-selenium==1.16.0
pytest-testrail==2.3.3
pytest-variables==1.7.1
pytest-xdist==1.28.0
python-dateutil==2.8.0
python-dotenv==0.10.1
python-magic==0.4.15
PyYAML==5.1
requests==2.20.1
requests-file==1.4.3
selenium==3.141.0
simplejson==3.16.0
six==1.12.0
tinycss2==0.6.1
tldextract==2.2.1
toml==0.10.0
tox==3.7.0
transitions==0.6.9
ua-parser==0.8.0
uritemplate==3.0.0
urllib3==1.24.2
virtualenv==16.5.0
webencodings==0.5.1
zipp==0.4.0
zope.component==4.5
zope.deferredimport==4.3
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==4.2.0
zope.interface==4.6.0
zope.proxy==4.3.1
